@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border-style: none;
  box-sizing: border-box;
  font-family: "Saira Condensed", sans-serif;
}

header {
  height: 85px;
}

body {
  background: #d9d9d9;
}
.red {
  color: #d62424;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}
.header-logo img {
  height: 50px;
}

.header-logo h1 {
  height: 36px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 59.4px */
  text-transform: uppercase;
}

.logo {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 60px;
}
.logo-small {
  width: 64px;
}

.home {
  position: relative;
  border-radius: 16px;
  border: 1px solid #000;
  background: #fff;
  margin: 15px 10px;
  min-height: 405px;
}
.up-down-svg {
  position: relative;
  margin: 5px;
}
#up-down-bottom-right{
  position: absolute;
  bottom: 0;
  right: 0;
}
/*Game Buttons Style*/
#game-buttons{
  position: absolute;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 170px;
  gap: 17px;
}
button {
  width: 120px;
  height: 32px;
  border: 1px solid #000;
  border-radius: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 110%; /* 26.4px */
  text-transform: uppercase;
}

#other-buttons{
  display: flex;
  justify-content: center;
  width: 100%;
}

#issue{
  position: absolute;
  font-size: 16px;
  bottom: 40px;
}

/* Footer Style */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 53px;
  background: #000;
}

/* Footer Links Styles */
#footer-links {
  display: flex;
}
#footer-links a {
  display: flex;
}

/* Footer disclaimer Styles */
#footer-disclaimer {
  padding: 0;
  color: #e73539;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 13.2px */
  text-transform: uppercase;
}
