@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border-style: none;
  box-sizing: border-box;
  font-family: "Saira Condensed", sans-serif;
}

header {
  height: 150px;
}

body {
  background: #d9d9d9;
}
.red {
  color: #d62424;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}
.header-logo h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 59.4px */
  text-transform: uppercase;
}

.logo {
  flex-shrink: 0;
}
.logo-small {
  width: 64px;
}

/* Footer Style */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 53px;
  background: #000;
}

/* Footer Links Styles */
#footer-links {
  display: flex;
}
#footer-links a {
  display: flex;
}

/* Footer disclaimer Styles */
#footer-disclaimer {
  padding: 0;
  color: #e73539;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 13.2px */
  text-transform: uppercase;
}
