@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border-style: none;
  box-sizing: border-box;
  font-family: "Saira Condensed", sans-serif;
}

header {
  height: 85px;
}

body {
  background: #d9d9d9;
}
.red {
  color: #d62424;
}
.center{
  position: relative;
  left:50%;
  transform: translate(-50%);
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}
.header-logo img {
  height: 50px;
}

.header-logo h1 {
  height: 36px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 59.4px */
  text-transform: uppercase;
}

.logo {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 60px;
}
.logo-small {
  width: 64px;
}

.home {
  position: relative;
  border-radius: 16px;
  border: 1px solid #000;
  background: #fff;
  margin: 15px 10px;
  /* Below added to make the content fill the entire page */
  min-height: calc(100vh - 169px); 
}
.up-down-svg {
  position: relative;
  margin: 5px;
}
#up-down-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
/*Game Buttons Style*/
#game-buttons {
  position: absolute;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 170px;
  gap: 17px;
}
.buttons {
  width: 120px;
  height: 32px;
  border: 1px solid #000;
  border-radius: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 110%; /* 26.4px */
  text-transform: uppercase;
}
/* New game and Rules button */
#new-game2{
  position: absolute;
  bottom : 50px;
  margin-top: 20px;
}

#other-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}
/* report an issue button */
#issue {
  position: absolute;
  font-size: 16px;
  bottom: 40px;
}

/* Footer Style */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 53px;
  background: #000;
}

/* Footer Links Styles */
#footer-links {
  display: flex;
  gap: 10px;
}
#footer-links a {
  display: flex;
}

/* Footer disclaimer Styles */
#footer-disclaimer {
  padding: 0;
  color: #e73539;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 13.2px */
  text-transform: uppercase;
}

/* rules modal */

.rules-modal {
  background: none;
  top: 85px;
  align-items: center;
  justify-content: center;
  position: absolute;
  max-width: 100%;
  width: 100%;
}
#rules-container {
  border-radius: 16px;
  border: 1px solid #000;
  background: #fff;
  margin: 15px 10px;
  min-height: calc(100vh - 169px); 
}

#rules-container * {
  text-align: center;
}

#rules-paragraph {
  position: relative;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 17.6px */
}

#exit-rules{
  position: absolute;
  top: 26px;
  right: 20px;
  background: none;
}